<h2>About Me</h2>
<p>I am a full stack developer with a background in Social/Cyber Psychology. I studied at Code Fellows and have a Bachelors of Science in Psychology from the University of Maryland. My mission is to bridge the gap between Psychology and Technology to create a more user friendly experience.</p>
<h2>Timeline</h2>
<div class="large-9 columns">
  <h3>Socrata</h3>
  <p>Front End Developer on the Customer Success Team.</p>
</div>
<div class="large-3 columns">
  <img class="img-responsive img-portfolio" src="assets/socrata.png">
</div>
<div class="large-9 columns">
  <h3>Engineroom360</h3>
  <p>Constultant Web Developer at an early stage startup that was part of the 9Mile Labs accelerator program. Worked on Shopify application using HTML, CSS, Liquid, Javascript, and jQuery</p>
</div>
<div class="large-3 columns">
  <img class="img-responsive img-portfolio" src="assets/engineroom360.png">
</div>
<div class="large-9 columns">
  <h3>Pawzii</h3>
  <p>Constultant Web Developer helping develop an Ember Application to track feral cat populations in Seattle</p>
</div>
<div class="large-3 columns">
  <img class="img-responsive img-portfolio" src="assets/pawzii.png">
</div>
<div class="large-9 columns">
  <h3>Code Fellows</h3>
  <p>Entrance Competitive Immersive coding bootcamp taught by industry practitioners in the heart of Seattle’s tech community. Code Fellows is designed to take high-potential individuals with moderate coding experience and turn them into great developers.</p>
</div>
<div class="large-3 columns">
  <img class="img-responsive img-portfolio" src="assets/codefellows.png">
</div>
<div class="large-9 columns">
  <h3>University of Maryland College Park</h3>
  <p></p>
</div>
<div class="large-3 columns">
  <img class="img-responsive img-portfolio" src="assets/uofmd.png">
</div>