<h2>About Me</h2>
<p>I am a full stack developer with a background in Social/Cyber Psychology. I studied at Code Fellows and have a Bachelors of Science in Psychology from the University of Maryland. My mission is to bridge the gap between Psychology and Technology to create a more user friendly experience.</p>
<h2>Timeline</h2>
<div class="row">
  <div class="large-2 columns img-portfolio-container right">
    <img class="img-responsive img-portfolio" src="assets/socrata.png">
  </div>
  <div class="large-10 columns left">
    <h3>Socrata <small>Aug 2014 to Present</small></h3>
    <h5>Front End Developer</h5>
    <p>Currently I am working as a front end developer on the Customer Success team creating custom applications for various federal, state, local, and NGOs around the world. Some of the projects that I have worked on consist of creating custom applications like the <a href="https://capitalprojects.seattle.gov/#/">Seattle Department of Transportation Projects Dashboard</a> and deploying customers onto our product.</p>
  </div>
</div>
<div class="row">
  <div class="large-2 columns img-portfolio-container right">
    <img class="img-responsive img-portfolio" src="assets/socrata.png">
  </div>
  <div class="large-10 columns left">
    <h3>Socrata <small>Apr 2014 to Aug 2014</small></h3>
    <h5>Front End Developer & Client Services Intern</h5>
    <p>Duriny my three month internship I worked with the Bill and Melinda Gates Foundation to design a custom application that would showcase clinical data so that research centers in third world countries could use this tool to compare disease occurance and the trend lines. I only worked on redesigning <a href="https://support.socrata.com/hc/en-us">Socrata's support site.</a></p>
  </div>
</div>
<div class="row">
  <div class="large-2 columns img-portfolio-container right">
    <img class="img-responsive img-portfolio" src="assets/engineroom360.png">
  </div>
  <div class="large-10 columns left">
    <h3>Engineroom360 <small>Apr 2014 to Aug 2014</small></h3>
    <h5>Constultant Web Developer</h5>
    <p>Early stage startup that was part of the 9Mile Labs accelerator program. Worked on Shopify application using HTML, CSS, Liquid, Javascript, and jQuery. Designed and developed component for carousel customizatio</p>
  </div>
</div>
<div class="row">
  <div class="large-2 columns img-portfolio-container right">
    <img class="img-responsive img-portfolio" src="assets/pawzii.png">
  </div>
  <div class="large-10 columns left">
    <h3>Pawzii <small>Jan 2014 to Mar 2014</small></h3>
    <h5>Constultant Web Developer</h5>
    <p>Constultant Web Developer helping develop an Ember Application to track feral cat populations in Seattle.</p>
  </div>
</div>
<div class="row">
  <div class="large-2 columns img-portfolio-container right">
    <img class="img-responsive img-portfolio" src="assets/codefellows.png">
  </div>
  <div class="large-10 columns left">
    <h3>Code Fellows <small>Oct 2013 to Dec 2013</small></h3>
    <h5>Ruby on Rails</h5>
    <p>Entrance Competitive Immersive coding bootcamp taught by industry practitioners in the heart of Seattle’s tech community. Code Fellows is designed to take high-potential individuals with moderate coding experience and turn them into great developers.</p>
  </div>
</div>
<div class="row">
  <div class="large-2 columns img-portfolio-container right">
    <img class="img-responsive img-portfolio" src="assets/uofmd.png">
  </div>
  <div class="large-10 columns left">
    <h3>University of Maryland <small>2008 to 2012</small></h3>
    <h5>Bachelor of Science in Psychology</h5>
    <p>My primary focus was Neuroscience, Social, Cyberpsychology.I also took classes as a Pre-med student</p>
  </div>
</div>