<h3>Interest</h3>
<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6 text-center">
  <li>
    <img class="img-responsive img-portfolio" src="assets/Airplane.png">
    <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I love to travel!">Travel</span>
  </li>
  <li>
    <img class="img-responsive img-portfolio" src="assets/Games.png">
    <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="From RPGs to Racing Simulators, As long as it has a good story I am there">Avid Gamer</span>
  </li>
  <li>
    <img class="img-responsive img-portfolio" src="assets/Videos.png">
    <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I enjoy Anime and Asian Dramas in my spare time. A big fan of Sci-fi stuff too like Firefly!">Anime & Drama</span>
  </li>
  <li>
    <img class="img-responsive img-portfolio" src="assets/Camera.png">
    <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I consider myself an amauter photographer, I would love to learn more though">Photo</span>
  </li>
  <li>
    <img class="img-responsive img-portfolio" src="assets/Headphones.png">
    <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="Music is a big part of my life. Although I am not good at playing, I couldn't imagine my life without music">Music</span>
  </li>
  <li>
    <img class="img-responsive img-portfolio" src="assets/iPhone.png">
    <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="The latest and greatest gadgets are awesome">Tech</span>
  </li>
</ul>

