<h3>Other Skills</h3>
<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6 text-center">
  <li><img class="img-responsive img-portfolio" src="assets/chinese.png">Mandarin Chinese</li>
</ul>