<div class="about-overlay"></div>
<div class="white-container">
  <div class="about-container">
    <%= render 'about' %>
  </div>
</div>
<div class="offwhite-container">
  <div class="about-container">
    <%= render 'tskills' %>
  </div>
</div>
<div class="white-container">
  <div class="about-container">
    <%= render 'skills' %>
  </div>
</div>
<div class="offwhite-container">
  <div class="about-container">
    <%= render 'interests' %>
  </div>
</div>
