<div class="medium-8 large-4 columns">
  <div class="large-12 columns sidebar">
    <div class="sidebar-row">
      <div class="sidebar-bottom">
        <h3>Latest Project</h3>
        <h4><%= @project.title %></h4>
        <div class="img-monitor">
          <img class="img-responsive img-monitor" src="assets/monitor.png">
          <%= image_tag(@project.image_url(:thumb).to_s, class:"img-responsive img-website") %>
          <!-- <img class="img-responsive img-website" src="assets/cover.jpg"> -->
        </div>
        <p><%=truncate_html(markdown(@project.description.to_s), length: 400, omission: '...(continued)') %></p>
        <div class="text-center">
          <%= link_to "More", projects_path, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>
