<div class="contact-overlay"></div>
<div class="white-container">
  <div class="contact-container">
    <h2>Contact</h2>
    <p>You can contact me through the following channels:</p>
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <li>
        <i class="fa fa-2x fa-linkedin"></i>
        <p><a href="#">Linkedin</a></p>
      </li>
      <li>
        <i class="fa fa-2x fa-github-alt"></i>
        <p><a href="#">Github</a></p>
      </li>
      <li>
        <i class="fa fa-2x fa-envelope-o"></i>
        <p><a href="#">Email</a></p>
      </li>
      <li>
        <i class="fa fa-2x fa-twitter"></i>
        <p><a href="#">Twitter</a></p>
      </li>
    </ul>
  </div>
</div>