<div class="banners">
  <ul>
    <li>
      <a href="#">
        <hgroup>
          <div class="table-cell">
            <h1>About Me</h1>
          </div>
        </hgroup>
        <p>
          Testing for all I know
        </p>
      </a>
    </li>
    <li>
      <a href="#">
        <hgroup>
          <div class="table-cell">
            <h1>Projects</h1>
          </div>
        </hgroup>
        <p>
          Testing for all I know
        </p>
      </a>
    </li>
    <li>
      <a href="#">
        <hgroup>
          <div class="table-cell">
            <h1>Journel</h1>
          </div>
        </hgroup>
        <p>
          Testing for all I know
        </p>
      </a>
    </li>
    <li>
      <a href="#">
        <hgroup>
          <div class="table-cell">
            <h1>Contact</h1>
          </div>
        </hgroup>
        <p>
          Testing for all I know
        </p>
      </a>
    </li>
  </ul>
</div>