<div class="large-5 column blog-post">
  <h1>Hello! I am a Full Stack Developer</h1>
  <%= render 'tskills/tskills' %>
  <%= render 'tskills/skills' %>
  <%= render 'projects' %>
  <%= render 'blogs' %>
</div>
