<div class="zen-container">
  <div class="hex-container">
    <div class="hexagon">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <div class="hexagon">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <div class="hexagon">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <div class="hexagon">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <div class="hexagon">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <div class="hexagon">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <div class="hexagon">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
  </div>
  <div class="hex-container2">
    <h2>James Chuang</h2>
    <p>I am a full stack developer with a background in Social/Cyber Psychology. I studied at Code Fellows and have a Bachelors of Science in Psychology from the University of Maryland.</p>
  </div>
</div>
