<div class="large-5 column blog-post">
  <h2 id="homepage-title"></h2>
  <h4 class="center">I love Technology, Art, Psychology, and Innovation.</h4>
  <p>I am always interested in hearing about new ideas and opportunities! Please don't hesitate to contact me to discuss your ideas.</p>
  <%= render 'projects' %>
</div>
