<div class="banners">
  <ul>
    <li>
      <a href="#">
        <hgroup>
          <div class="table-cell">
            <h1>About Me</h1>
          </div>
        </hgroup>
        <p>
          Located in Seattle <br>
          Full Stack Developer
        </p>
      </a>
    </li>
    <li>
      <a href="/projects">
        <hgroup>
          <div class="table-cell">
            <h1>Projects</h1>
          </div>
        </hgroup>
        <p>
          A handful of my favorite projects
        </p>
      </a>
    </li>
    <li>
      <a href="/posts">
        <hgroup>
          <div class="table-cell">
            <h1>Journel</h1>
          </div>
        </hgroup>
        <p>
          Blogging about everything I am interested in
        </p>
      </a>
    </li>
    <li>
      <a href="#">
        <hgroup>
          <div class="table-cell">
            <h1>Contact</h1>
          </div>
        </hgroup>
        <p>
          Want to learn more? Reach out to me!
        </p>
      </a>
    </li>
  </ul>
</div>