<div class="row padding">
	<div class="medium-3 large-3 column text-right">
		<p><img class="img-responsive img-circle" src="assets/picture.jpg"></p>
	</div>
	<div class="medium-9 large-9 column">
		<p>I am a Ruby on Rail Developer currently living in Seatle with a background in Social/Cyber Psychology. I studied at <a href="http://www.codefellows.org">Code Fellows</a> in 2013 and have a Bachelors of Science in Psychology from the <a href="http://www.umd.edu/">University of Maryland</a>.</p>
		<p>My mission is to bridge the gap between Psychology and Technology to create a more human orientated experience</p>
		<div class="text-center">
			<h4>Get in Touch:</h4>
      <%= link_to image_tag("email.png"), "mailto:jameschuang13@gmail.com" %>
      <%= link_to image_tag("github.png"), "https://github.com/hiddensanctum" %>
      <%= link_to image_tag("linkedin.png"), "http://www.linkedin.com/pub/james-chuang/49/249/564" %>
      <%= link_to image_tag("twitter.png"), "https://twitter.com/N3dd1h" %>
    </div>
	</div>
</div>

<div class="row padding">
	<div class="medium-3 large-3 column text-right">
		<h3>Technical Skills</h3>
	</div>
	<div class="medium-9 large-9 column">
		<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-6 text-center">
			<li><img class="img-responsive img-portfolio" src="assets/rubyonrails.png">Ruby on Rails</li>
			<li><img class="img-responsive img-portfolio" src="assets/html.png">HTML</li>
			<li><img class="img-responsive img-portfolio" src="assets/css.png">CSS</li>
			<li><img class="img-responsive img-portfolio" src="assets/javascript.png">Javascript</li>
		</ul>
	</div>
</div>

<div class="row padding">
	<div class="medium-3 large-3 column text-right">
		<h3>Proficiency</h3>
	</div>
	<div class="medium-9 large-9 column">
		<h5>Ruby on Rails</h5>
		<div class="progress secondary alert radius round">
			<span class="meter" style="width: 85%"></span>
		</div>
		<h5>HTML</h5>
		<div class="progress radius round">
			<span class="meter" style="width: 80%"></span>
		</div>
		<h5>CSS</h5>
		<div class="progress secondary alert success radius round">
			<span class="meter" style="width: 75%"></span>
		</div>
		<h5>Javascript</h5>
		<div class="progress secondary success radius round">
			<span class="meter" style="width: 60%"></span>
		</div>
	</div>
</div>

<div class="row padding">
	<div class="medium-3 large-3 column text-right">
		<h3>Other Interests</h3>
	</div>
	<div class="medium-9 large-9 column">
		<ul class="small-block-grid-4 medium-block-grid-5 large-block-grid-7 text-center">
			<li>
				<img class="img-responsive img-portfolio" src="assets/Airplane.png">
				<span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I love to travel!">Travel</span>
			</li>
			<li>
				<img class="img-responsive img-portfolio" src="assets/Games.png">
				<span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="From RPGs to Racing Simulators, As long as it has a good story I am there">Avid Gamer</span>
			</li>
			<li>
				<img class="img-responsive img-portfolio" src="assets/Videos.png">
				<span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I enjoy Anime and Asian Dramas in my spare time. A big fan of Sci-fi stuff too like Firefly!">Anime & Drama</span>
			</li>
			<li>
				<img class="img-responsive img-portfolio" src="assets/Camera.png">
				<span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I consider myself an amauter photographer, I would love to learn more though">Photography</span>
			</li>
			<li>
				<img class="img-responsive img-portfolio" src="assets/Headphones.png">
				<span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="Music is a big part of my life. Although I am not good at playing, I couldn't imagine my life without music">Music</span>
			</li>
			<li>
				<img class="img-responsive img-portfolio" src="assets/iPhone.png">
				<span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="The latest and greatest gadgets are awesome">Gadgets</span>
			</li>
		</ul>
	</div>
</div>
