<div class="medium-8 large-10 columns sidebar">
  <div class="text-right">
    <% if current_user.present? %>
      <h6><%= link_to image_tag("new.png") + "New Project", new_post_path %></h6>
    <% end %>
  </div>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 text-center">
    <% @projects.each do |project| %>
      <li>
        <div class="img-monitor">
          <img class="img-responsive img-monitor" src="assets/monitor.png">
          <%= image_tag(project.image_url(:thumb).to_s, class:"img-responsive img-website") %>
          <!-- <img class="img-responsive img-website" src="assets/cover.jpg"> -->
        </div>
        <h3><%= project.title %></h3>
      </li>
    <% end %>
  </ul>
  <div class="pagination-centered">
    <%= foundation_paginate @posts %>
  </div>
</div>
