<div class="medium-12 large-10 columns">
  <div class="img-monitor">
    <img class="img-responsive img-monitor" src="assets/monitor.png">
    <%= image_tag(@project.image_url(:thumb).to_s, class:"img-responsive img-website") %>
    <!-- <img class="img-responsive img-website" src="assets/cover.jpg"> -->
  </div>
  <h3><%= @project.title %></h3>
</div>
