// Variables
$primary-font:        'Raleway', sans-serif;
$max-width:           950px;

// Adobe Kuler Color Variables
$zen-color-1:         #10222B;  //dark blue
$zen-color-2:         #95AB63;  //dark tea
$zen-color-3:         #BDD684;  //green tea green
$zen-color-4:         #E2F0D6;  //light green
$zen-color-5:         #F6FFE0;  //pale green

// General Colors
$white:               #FFFFFF;
$off-white:           #EEEFF7;

body {
  font-family: $primary-font;
  font-weight: 300;
  background: $off-white;
  color: $zen-color-1;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  color: $white;
}
a {
  font-family: $primary-font;
  color: $white;
}
a:hover {
  color: $zen-color-2;
}
a:active {
  color: $zen-color-2;
}

// nav bar css
.nav-container {
  // display: none;
  z-index: 9;
  background: rgba(255,255,255,1);
  position: fixed;
  width: 100%;
  top: 0;
  @media only screen and (max-width: 925px) {
    position: relative;
  }
}
.nav {
  max-width: $max-width;
  margin: auto;
  text-align: center;
  ul {
    margin: 0;
    li {
      font-size: 14px;
      display: inline-block;
      margin: 0 10px;
      padding: 0 15px;

      @media only screen and (max-width: 925px) {
        display: none;
      }

      a {
        color: $zen-color-1;
      }
      h1, h2, h3 {
        color: #666;
      }
    }
    @media only screen and (max-width: 925px) {
      .title {
        display: block;
        overflow: hidden;
        h2 {
          margin: 10px;
          font-size: 1.6875rem;
        }
      }
    }
  }
}
#nav-dropdown {
  display: none;
  @media only screen and (max-width: 925px) {
    li {
      display: block;
      padding: 10px;
      margin: 0;
      a {
        display: block;
      }
      &:hover {
        background-color: #ccc;
      }
    }
  }
}
#menu {
  display: none;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 25px;
  margin: 10px;
  @media only screen and (max-width: 925px) {
    display: block;
  }
}

.banners {
  height: 100%;
  ul {
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    background: url("/assets/background.jpeg");
    background-size: cover;
    @media only screen and (max-width: 401px) {
      height: 600px;
    }
    li {
      float: left;
      width: 25%;
      height: 100%;
      background: rgba(0,0,0,0.6);
      @media only screen and (max-width: 401px) {
        width: 100%;
        height: 150px;
      }
      a {
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        p {
          text-align: center;
          margin: 0 20%;
          padding: 20px;
          color: #ccc;
          border-top: 1px dotted #ccc;
          @media only screen and (max-width: 401px) {
            display: none;
          }
        }
      }
      hgroup {
        position: relative;
        width: 100%;
        height: 50%;
        display: table;
        @media only screen and (max-width: 401px) {
          height: 100%;
        }
      }
      .table-cell {
        display: table-cell;
        vertical-align: bottom;
        @media only screen and (max-width: 401px) {
          vertical-align: middle;
        }
      }
    }
    li:hover {
      background: rgba(0,0,0,0.3);
    }
  }
}