// Variables
$primary-font:        'Raleway', sans-serif;
$max-width:           800px;

// Adobe Kuler Color Variables
$zen-color-1:         #10222B;  //dark blue
$zen-color-2:         #95AB63;  //dark tea
$zen-color-3:         #BDD684;  //green tea green
$zen-color-4:         #E2F0D6;  //light green
$zen-color-5:         #F6FFE0;  //pale green

// General Colors
$white:               #FFFFFF;
$off-white:           #EEEFF7;

body {
  font-family: $primary-font;
  font-weight: 300;
  background: $off-white;
  color: $zen-color-1;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  color: $zen-color-1;
}
a {
  font-family: $primary-font;
  color: gray;
}
a:hover {
  color: $zen-color-2;
}
a:active {
  color: $zen-color-2;
}

// nav bar css
.nav {
  display: none;
  text-align: center;
  margin: auto;
  width: 100%;
  background: $white;
  position: fixed;

  ul {
    margin: 0;
    li {
      font-size: 12px;
      display: inline-block;
      margin: 0 10px;
      padding: 0 15px;
      .title {
        border-bottom: none;
      }
      h1 {
        color: #666;
      }
    }
  }
}

.banners {
  height: 100%;
  ul {
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    li {
      float: left;
      width: 25%;
      background: #000;
      height: 100%;
      a {
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
      }
      hgroup {
        position: relative;
        width: 100%;
        height: 50%;
        display: table;
      }
      .table-cell {
        display: table-cell;
        vertical-align: bottom;
      }
    }
    li:hover {
      background: #ccc;
    }
  }
}