.fadeIn{
  display: none;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.0em; }
  .l { font-size: 1.2em; }
}

.bullet-pad-sm > li {
  margin-left: 15px;
}

.bullet-pad-lg > li {
	margin-left: 25px;
}
