.fadeIn{
  display: none;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.6em; }
  .m { font-size: 0.9em; }
  .l { font-size: 1.2em; }
}

.bullet-pad-sm > li {
  margin-left: 15px;
}

.bullet-pad-lg > li {
	margin-left: 25px;
}
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10.5px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 0;
}
