$max-width:           950px;

.white-container {
  background: #fff;
}
.offwhite-container {
  background: #EEEFF7;
}
.about-container {
  max-width: $max-width;
  margin: auto;
  padding: 20px 45px;
  overflow: hidden;
  h1, h2, h3, h4, h5 {
    color: #000;
  }
  a {
    color: #000;
  }
}