body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: #EDEDED;
  color: #35383F;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #EEEFF7;
}
a {
  font-family: 'Lato', sans-serif;
  color: #F8284C;
}


a:hover {
  color: #8B364D;
}
.box {
  background-color: #8B364D;
  width: 20%;
  float: left;
}
a:hover.image-box {
  background: rgba(53,56,63,0.7);
  opacity: 0.5;
}

.icons {
  color: #fff;
}

table.nav {
  background: none;
  border: none;
}
table.nav td, table.nav tr {
  background: none;
  font-size: 1.2em;
  padding: 5px 2px;
}
.page-content h1, .page-content h2,
.page-content h3, .page-content h4,
.page-content h5, .page-content h6 {
  color: #35383F;
}
.fancybox-skin {
  background-color: #35383F;
  color: #EDEDED;
}
.fancybox-skin h3 {
  color: #F8284C;
}
.project-image {
  margin: auto;
}
.pagination li.current a {
  background-color: #8B364D !important;
}
.center {
  text-align: center;
}
button, .button {
  background-color: #8B364D;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #F8284C;
}

#latest-project {
  padding: 0 10%;
}
#homepage-title {
  text-align: center;
  font-size: 4em;
  padding: 0 30px;
}
#typed-cursor {
  display: none;
}
#wrapper {
  padding-left: 320px;
  /*transition: all 0.4s ease 0s;*/
}
#sidebar-wrapper {
  color: #EDEDED;
  margin-left: -320px;
  left: 320px;
  width: 320px;
  background: #35383F;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  /*transition: all 0.4s ease 0s;*/
}
#sidebar-content {
  padding: 10px;
}

#page-content-wrapper {
  width: 100%;
}
#topbar-wrapper {
  top: 10px;
  color: #E4EDFA;
  position: fixed;
  width: auto;
  z-index: 1000;
  background-color: #5B6470;
  padding: 10px 15px;
  opacity: 0.9;
  display: none;
}
pre {
 white-space: pre-wrap; /* css-3 */
 white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 word-wrap: break-word; /* Internet Explorer 5.5+ */
 background: #E3E3E3;
 padding: 10px;
 color: #35383F;
 border-radius: 3px;
}

@media only screen and (max-width: 40em) {
  #intro {
    display: none;
  }
  #title {
    display: none;
  }
  #menu {
    font-size: 1.6em;
  }
  table.nav {
    width: 80px;
    text-align: center;
  }
  table.nav td {
    width: 60px;
    display: block;
    padding: 0;
  }
  table.nav td:nth-child(even) {
    padding-bottom: 10px;
  }
  .nav-link a {
    font-size: 0.5em;
  }

  .nav {
    padding: 0 2px 0px 2px;
    font-size: 1.6em;
  }

  #sidebar-wrapper {
    /*margin-left: -100px;*/
    /*transition: all 0.4s ease 0s;*/
  }
  #topbar-wrapper {
    display: block;
  }
  #page-content-wrapper {
    padding-top: 60px;
  }
  #wrapper {
    padding-left: 0;
  }

  #sidebar-content {
    padding: 5px;
  }
  #sidebar-wrapper {
    left: 0;
/*    margin: 0;
    position: relative;*/
  }

  #wrapper.active {
    position: relative;
    left: 80px;
  }

  #sidebar-wrapper {
    left: 80px;
    width: 80px;
  }
  #homepage-title {
    text-align: center;
    font-size: 2em;
    padding: 0 10px;
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) { }
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  .blog-post {
    min-width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { }
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 90.063em) { }
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
