body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: #EDEDED;
  color: #35383F;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #EEEFF7;
}
a {
  font-family: 'Lato', sans-serif;
  color: #F8284C;
}
a:hover {
  color: #8B364D;
}
.box {
  background-color: #8B364D;
  width: 20%;
  float: left;
}
a:hover.image-box {
  background: rgba(53,56,63,0.7);
  opacity: 0.5;
}
.nav {
  list-style: none;
  margin: 0;
}
.page-content h1, .page-content h2,
.page-content h3, .page-content h4,
.page-content h5, .page-content h6 {
  color: #35383F;
}
.fancybox-skin {
  background-color: #35383F;
  color: #EDEDED;
}
.fancybox-skin h3 {
  color: #F8284C;
}
.project-box {
  background-color: #8B364D;
  /*width: 100%;*/
  /*height: 300px;*/
  /*width: 20%;*/
  float: left;
}
.post-box {
  background-color: #4ADCD5;
  /*width: 100%;*/
  /*height: 300px;*/
  /*width: 20%;*/
  float: left;
}
#wrapper {
  padding-left: 320px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  color: #EDEDED;
  margin-left: -320px;
  left: 320px;
  width: 320px;
  background: #35383F;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#sidebar-content {
  padding: 10px;
}

#page-content-wrapper {
  width: 100%;
}
#topbar-wrapper {
  color: #E4EDFA;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #5B6470;
  padding: 10px 20px;
}
pre {
 white-space: pre-wrap; /* css-3 */
 white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 word-wrap: break-word; /* Internet Explorer 5.5+ */
 background: #E3E3E3;
 padding: 10px;
 color: #35383F;
 border-radius: 3px;
}
@media (max-width:767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
/*    margin: 0;
    position: relative;*/
  }

  #wrapper.active {
    position: relative;
    left: 320px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 320px;
    width: 320px;
    transition: all 0.4s ease 0s;
  }
}
@media only screen and (max-width: 40em) {
  #sidebar-wrapper {
    margin: 0;
    position: relative;
    width: 100%;
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) { }
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  .blog-post {
    min-width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { }
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 90.063em) { }
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
