<div class="row">
  <h1>James Chuang</h1>
  <div class="medium-6 large-6 column">
    <h5>Full Stack Web Developer</h5>
  </div>
  <div class="medium-6 large-6 column">
    <dl class="sub-nav right">
      <dd><h5><a href="/">Home</a></h5></dd>
      <dd><h5><a href="/posts">Blog</a></h5></dd>
      <dd><h5><a href="/projects">Projects</a></h5></dd>
      <dd><h5><a href="https://s3-us-west-2.amazonaws.com/jlc-portfolio/uploads/resume/James_Chuang_Resume.pdf">Resume</a></h5></dd>
    </dl>
  </div>
</div>
